h1,h2,h3
{
  color:purple;
font-family: "Monotype Corsiva";

  }
#li3 {
    color: red;
    font-family: "Times New Roman ";
    font-size: 18pt;
}
#li2 {
    color: yellow;
    font-family: "Times New Roman ";
    font-size: 20pt;
}
#li3 {
    color: green;
    font-family: "Times New Roman ";
    font-size: 22pt;
}

table,td
{
 color:green; 
}
